*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(7, 31, 248, 0.76);
    color: rgb(0, 247, 12);
    font-size: 20px;
    text-align: center;
    height: 200px;
}

h1{
    margin-top: 50px;
}

.form{
    margin-top: 50px;
}

